@import 'normalize.css';
@import './ui/terminal';

.rg-Unit {
  min-height: 100px;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 12px;
  padding: 24px;
  background: gold;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6, p {
  font-weight: 400;  
}

.grey { background: grey; }
.goldenrod { background: goldenrod; }
.pink { background: pink; }
.orange { background: orange; }
